Button:hover,
Key:hover {
    -fx-cursor: hand;
    -fx-background-color: #CEAC41;
}

Button,
Key {
    -fx-background-color: #D7AF72;
    -fx-text-fill: #3B3B3A;
    -fx-font-family: "Roboto Condensed";
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* MENU VIEW */
#menu {
    -fx-background-color: #DAC27C;
}

#menu Button {
    -fx-font-size: 15;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
}

#menu Label {
    -fx-font-size: 40;
    -fx-font-family: "Stencil";
    -fx-font-weight: 500;
    -fx-text-fill: #3B3B3A;
}

#menu .titlePane,
#menu .buttonPane {
    -fx-alignment: center;
}

#menu .buttonPane {
    -fx-spacing: 10;
}

/* Options */
#options {
    -fx-background-color: #DAC27C;
}

#options Button {
    -fx-font-size: 15;
    -fx-pref-width: 80;
    -fx-pref-height: 50;
}

#options .bottom-button-pane Button {
    -fx-border-color: #A8651E;
}

#options .field-pane {
    -fx-background-color: #EFDEC2;
    -fx-border-color: #CEAC41;
    -fx-border-width: 5 0 5 0;
}

#options .title-button-pane,
#options .title-label-pane,
#options .title-network-pane,
#options .bottom-button-pane,
#options .field {
    -fx-alignment: center;
}

#options .title-label-pane Label {
    -fx-font-size: 25;
    -fx-font-family: "Stencil";
}

#options .title-network-pane {
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 15;
}

#options TextField,
#options ComboBox {
    -fx-max-width: 150px;
}

#options .field-pane {
    -fx-font-size: 14;
    -fx-font-family: "Roboto Condensed";
}

#options .field {
    -fx-spacing: 10;
}

#options .field .valid,
#options .field .valid .list-cell {
    -fx-text-fill: #21be25;
}

#options .field .invalid,
#options .field .invalid .list-cell {
    -fx-text-fill: #f44336;
}

/* GAME */
#game {
    -fx-background-color: #DAC27C;
}

#game AlphabeticKeyboard {
    -fx-hgap: 5;
    -fx-vgap: 5;
}

#game AlphabeticKeyboard Key {
    -fx-pref-width: 35;
    -fx-pref-height: 35;
}

#game HealthBar {
    -fx-rotate: -90;
    -fx-padding: -20 -80;
}

#game HealthBar .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

#game HealthBar .track {
    -fx-background-radius: 15;
    -fx-background-insets: 0;
}

#game HealthBar.low {
    -fx-accent: #f44336;
}

#game HealthBar.middle {
    -fx-accent: #ff9116;
}
#game HealthBar.high {
    -fx-accent: #21be25;
}

#game HealthBar .track {
    -fx-background-color: #CEAC41;
}

#game .left-pane,
#game .right-pane,
#game .button-pane,
#game .word-pane,
#game AlphabeticKeyboard {
    -fx-alignment: center;
}

#game .left-pane {
    -fx-spacing: 10;
    -fx-font-size: 20;
    -fx-font-family: "Roboto Condensed";
}

#game Word {
    -fx-font-size: 35;
    -fx-font-family: "Roboto Condensed";
}

#game Button {
    -fx-font-size: 13;
    -fx-pref-width: 80;
    -fx-pref-height: 40;
}

/* Game Over */
#game-over {
    -fx-background-color: #DAC27C;
}

#game-over .result-pane {
    -fx-alignment: center;
    -fx-spacing: 25;
}

#game-over .result-pane .result-label {
    -fx-font-size: 35;
    -fx-font-family: "Stencil";
}

#game-over .result-pane .score-label,
#game-over .result-pane .word-recap-label,
#game-over .result-pane .word-label {
    -fx-font-family: "Roboto Condensed";
}

#game-over .result-pane .score-label {
    -fx-font-size: 25;
}

#game-over .result-pane .word-recap-label,
#game-over .result-pane .word-label {
    -fx-font-size: 20;
}

#game-over .result-pane .word-label {
    -fx-font-weight: bold;
}

#game-over .button-pane {
    -fx-alignment: center;
    -fx-spacing: 10;
}

#game-over .button-pane Button {
    -fx-font-size: 13;
    -fx-pref-width: 80;
    -fx-pref-height: 40;
}

#scores {
    -fx-background-color: #DAC27C;
}

#scores .button-pane,
#scores .title-pane,
#scores .combo-box-pane,
#scores .score-grid .header,
#scores .score-grid .cell {
    -fx-alignment: center;
}

#scores .score-grid .header,
#scores .score-grid .cell {
    -fx-border-width: 1;
    -fx-border-color: #CEAC41;
}

#scores .title-pane Label {
    -fx-font-family: "Stencil";
    -fx-font-size: 25;
}

#scores .score-grid .header,
#scores .score-grid .cell {
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 15;
}

#scores .button-pane Button,
#scores .combo-box-pane DifficultyComboBox {
    -fx-font-size: 13;
    -fx-pref-width: 150;
    -fx-pref-height: 40;
}