.test {
    -fx-background-color: blue
}

Key {
    -fx-border-color: brown;
    -fx-rotate: 100;

}

#options {
    -fx-background-color: red;
}

#options Label {
    -fx-background-color: blue;
}

#options .valid {
    -fx-text-fill: green;
}

#options .invalid {
    -fx-text-fill: red;
}

#options ComboBoxFormField {
    -fx-background-color: purple;
}